.App {
  text-align: center;
  margin: 20px;
}

.btnDelete {
  background-color: rgb(132, 203, 240);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  margin-left: 10px;
}

.formContainer {
  width: 80%;
  margin: auto;
  color: #696969;
}

.searchCard {
  width: 80%;
  margin: auto;
  color: #696969;
}
h1 {
  color: #2f4f4f;
  font-size: 24px;
}
.buttonShow {
  background-color: rgb(132, 203, 240);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  border-color: honeydew;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: 18px;
}

.btnForm {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ff7f50;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  border-color: honeydew;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: 18px;
}

.feedbackMessage img {
  width: 300px;
  height: 400px;
}

.feedbackMessage h3 {
color: #c13908;
}